In [2]:
import numpy as np 
import pandas as pd 
import seaborn as sns
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
import time 
import requests
import re
import sys
from alive_progress import alive_bar

In [7]:
car_model = []
car_brand= []
car_info = []
car_odo=[]
car_year= []
car_price = []
car_doors=[]
car_color=[]
with alive_bar(400, force_tty=True) as bar:
    for x in range(1,401):
        bar()
        link = f"https://uae.dubizzle.com/motors/used-cars/?page={x}"
        headers = requests.utils.default_headers()
        headers.update({
        'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0',
        })
        fp = requests.get(link, headers=headers).content

        soup = BeautifulSoup(fp, 'html.parser')

        models = soup.find_all("div", attrs={"class":"sc-cmkc2d-7 sc-12jmuzh-1 cJzZZu fJnXmr heading-text-2"})
        brand = soup.find_all("div", attrs={"class":"sc-cmkc2d-7 sc-12jmuzh-1 cJzZZu fJnXmr heading-text-1"})
        info = soup.find_all("div", attrs={"class":"sc-7bos3o-1 iRyjgD"})
        price = soup.find_all("div", attrs={"class":"sc-cmkc2d-7 sc-11jo8dj-3 cJzZZu eRJeCK"})
        for i in models:
            car_model.append(i.text)
        for i in brand:
            car_brand.append(i.text)
        for i in info:
            car_info.append(i.text)
        car_info=[]
        for i in info:
            car_info.append(i.text)
        for x in range(0,len(car_info),4):
            car_year.append(int(car_info[x]))
        
        for x in car_info:
            if "km" in x:
                x=x.replace("km",'')
                x=x.replace(",",'')
                x=x.strip()
                car_odo.append(int(x))
            else:
                pass
        for x in car_info:
            if "door" in x:
                if "5+" in x:
                    car_doors.append("4 door")
                else:
                    car_doors.append(x)
            else:
                pass
        for i in price:
            p=i.text
            p=p.replace(",",'')
            p.strip()
            car_price.append(int(p))
        
        time.sleep(1)

|▏⚠︎                                      | (!) 1/400 [0%] in 1.3s (0.76/s)

IndexError: list index out of range

In [5]:
dic = {"car_model": car_model,"car_brand": car_brand,"car_doors": car_doors,
       "car_color": car_color,"car_year":car_year, "car_odo":car_odo,"car_price":car_price}
cars = pd.DataFrame.from_dict(dic)
cars.to_csv('cars.csv', encoding='utf-8')

cars2= cars.copy()
cars2

,car_model,car_brand,car_doors,car_year,car_odo,car_price
0,Carrera / 911,Porsche,2 door,2022,5000,599000
1,Urus,Lamborghini,4 door,2022,0,1320000
2,Golf R,Volkswagen,4 door,2019,101405,135000
3,GLS-Class,Mercedes-Benz,4 door,2022,0,1150000
4,Continental Flying Spur,Bentley,4 door,2021,2500,1100000
...,...,...,...,...,...,...
9995,Mustang,Ford,2 door,2019,79000,98000
9996,Cayenne,Porsche,4 door,2008,184000,30000
9997,SC-Series,Lexus,2 door,2006,188000,25500
9998,Edge,Ford,4 door,2017,63365,77000
9999,Cruze,Chevrolet,4 door,2013,208900,17000

In [6]:

cars.to_csv('cars.csv', encoding='utf-8')